---
const title = Astro.locals.welcomeTitle();
const orders = Astro.locals.orders;

console.log(orders)
---
<h1>{title}</h1>
<ul>
    {orders.map(order => {
        return <li>{order}</li>;
    })}
</ul>

<style>

</style>

<script></script>
