---
const title = (Astro.locals as any).welcomeTitle();
const orders = (Astro.locals as any).orders;

console.log(orders)
---
<h1>{title}</h1>
<ul>
    {orders.map((order: any) => {
        return <li>{order}</li>;
    })}
</ul>

<style>

</style>

<script></script>
